/* group */
[uiid-cat="layout"][uiid="group"] {
  display: flex;
}
[uiid-cat="layout"][uiid="group"].inline {
  display: inline-flex;
}

/* stack */
[uiid-cat="layout"][uiid="stack"] {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

/* layer */
[uiid-cat="layout"][uiid="layer"] {
  display: grid;
}
[uiid-cat="layout"][uiid="layer"] > * {
  grid-area: 1 / 1;
}

/* slots */
[uiid-cat="layout"][uiid="slots"] {
  display: inline-flex;
  align-items: center;
}

/* shared, MOVE TO TOGGLE PROP?? */
[uiid-cat="layout"][uiid="group"].evenly > *,
[uiid-cat="layout"][uiid="stack"].evenly > *,
[uiid-cat="layout"][uiid="slots"].evenly > * {
  flex: 1;
}
