[uiid="group"] {
  display: flex;
}

[uiid="stack"] {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

[uiid="layer"] {
  display: grid;
}
[uiid="layer"] > * {
  grid-area: 1 / 1;
}

[uiid="slots"] {
  display: inline-flex;
  align-items: center;
}

[uiid="disabled"] {
  display: contents;
  cursor: not-allowed;
}
