/* prettier-ignore-file */
@layer uiid {
  [data-uiid="group"] {
    display: flex;
  }
  [data-uiid="stack"] {
    display: flex;
    flex-direction: column;
  }
  [data-uiid="layer"] {
    display: grid;
    & > * {
      grid-area: 1 / 1;
    }
  }

  .evenly > * {
    flex: 1;
  }
  .fullwidth {
    width: 100%;
  }
  .inline {
    display: inline-flex;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .centered {
    align-items: center;
    justify-content: center;
  }
  .hide {
    display: "none";
  }
}
