@layer uiid {
  [data-uiid="group"] {
    display: flex;
  }

  [data-uiid="stack"] {
    display: flex;
    flex-direction: column;
  }

  [data-uiid="layer"] {
    display: grid;
    & > * {
      grid-area: 1 / 1;
    }
  }

  [data-evenly="true"] > * {
    flex: 1;
  }

  [data-fullwidth="true"] {
    width: 100%;
  }

  [data-inline="true"] {
    display: inline-flex;
  }

  [data-wrap="true"] {
    flex-wrap: wrap;
  }

  [data-centered="true"] {
    align-items: center;
    justify-content: center;
  }

  [data-hide="true"] {
    display: "none";
  }
}
