@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --white: #fff;
  --black: #000;

  --background: var(--white);
  --foreground: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif;
}
